
*.egg-info/

.DS_Store
__pycache__/
Figures/
*.pkl
*.ipynb_checkpoints/
*.sh
*.sh

slurm*

Data/*
nets/*
Figures/*

test.ipynb
train_example_net.sh
prnn/analysis/TuningCurveAnalysis.py
TCA.ipynb
train_example_net2.sh
RiaBAnalysis.ipynb
trainNet_prnn.py
