
*.egg-info/

.DS_Store
__pycache__/
*.pkl
*.ipynb_checkpoints/
*.sh
*.vscode

slurm*

Data/*
nets/*
Figures/*
${SLURM_TMPDIR}/*

trainNet_prnn.py

# sphinx stuff
docs/_build/
docs/_autosummary/
docs/_apidoc/
docs/_doctrees/s

# logging & plotting
logs/
plots/

#local test scripts
local/